@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /* Light theme with gold accents */
  --background: #fcfcfc;
  --foreground: #030303;
  --card: #f5f5f5;
  --card-foreground: #030303;
  --popover: #f5f5f5;
  --popover-foreground: #030303;
  --primary: #ad8d5e;
  --secondary:#ffffff;
  --primary-foreground: #eeeeee;
  --secondary: #dedede;
  --secondary-foreground: #161616;
  --muted: #cececd;
  --muted-foreground: #484848;
  --accent: #d8b6a0;
  --accent-foreground: #161616;
  --destructive: #e7000b;
  --destructive-foreground: #eeeeee;
  --border: #cececd;
  --input: oklch(0.95 0 0);
  --ring: #ad8d5e;
  --chart-1: #eb883b;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --radius: 0.5rem;
}

.dark {
  --background: #020202;
  --foreground: #eeeeee;
  --admin: #272A32;
  --table: #323741;
  --white: #ffffff;
  --card: #060606;
  --card-foreground: #eeeeee;
  --popover: #060606;
  --popover-foreground: #eeeeee;
  --primary: #ad8d5e;
  --primary-foreground: #020202;
  --secondary: #121212;
  --secondary-foreground: #eeeeee;
  --muted: #2e2e2e;
  --muted-foreground: #9e9e9e;
  --accent: #ad8d5e;
  --accent-foreground: #020202;
  --destructive: #82181a;
  --destructive-foreground: #fb2c36;
  --border: rgb(20, 19, 19);
  --input: #0b0b0b;
  --ring: #ad8d5e;
}

@theme inline {
  --font-sans: var(--body-font-family), Arial, Helvetica, sans-serif;
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --font-serif: var(--title-font-family), 'serif';
  --body-font-family: 'Jost';
  --title-font-family: 'Jost';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50 tracking-wide;
  }
  button {
    @apply cursor-pointer;
  }
}

@keyframes scroll-left-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left-to-right {
  animation: scroll-left-to-right 20s linear infinite;
}


.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  /* Dành cho Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Dành cho Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}